.wrap_contain {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    padding: 0px 16px;
    background-color: #000;
    margin-left: 16.6667%;
}
.wrap_content {
    width: 100%;
}
.moive_play {
    width: 100%;
    color: #fff;
}
.wrap_video {
    background-color: black;
    position: relative;
    color: white;
    padding-top: 50%;
}
.video_intro {
    position: absolute;
    top: 0;
    left: 0;
}
.btn_play {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
.name_film {
    color: #da966e;
    margin: 12px 0;
    font-size: 2rem;
    margin-left: 16px;
}
.date {
    font-size: 17px;
    margin-left: 16px;
}
.intro {
    background-color: #222;
    padding: 8px;
    color: #bbb;
    font-size: 12px;
    line-height: 18px;
    margin: 12px 0;
}
.title_similar {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 16px;
}
.wrap_similar {
    display: flex;
    overflow: hidden;
    margin: 0 -12px;
}
.similar_movie {
    width: 16.6667%;
    flex-shrink: 0;
    flex-basis: 16.66667%;
    padding: 0 12px;
    text-decoration: none;
}
.img_similar {
    width: 100%;
    border-radius: 8px;
}
.name_firm {
    color: #fff;
    margin-top: 8px;
}

@media only screen and (max-width: 739px) {
    .wrap_contain {
        margin-left: 0;
        padding: 0;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .wrap_contain {
        margin-left: 0;
    }
}
@media only screen and (max-width: 480px) {
    .similar_movie {
        width: 25%;
        flex-basis: 25%;
        padding: 0 8px;
    }
    .name_firm {
        font-size: 1.3rem;
    }
    .wrap_similar {
        margin: 0;
    }
}
