.wrapper {
    background-color: black;
    position: relative;
    color: white;
    padding-top: 40%;
}
.video_intro {
    position: absolute;
    top: 0;
    left: 0;
}
.text_intro {
    position: absolute;
    top: 140px;
    left: 30px;
}
