.wrapper {
    width: 83.3334%;
    margin-top: 8rem;
    position: relative;
    overflow: auto;
    height: calc(100vh - 8rem);
    margin-left: 16.6666%;
}
.wrap_content {
    display: block;
    width: 100%;
    background-color: #000;
    overflow: auto;
    max-height: 100vh;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}
.wrap_item {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
}
.link {
    width: 16.6666%;
    text-decoration: none;
    padding: 12px 8px;
    transform: scale(1);

    &:hover {
        transform: scale(1.06);
        transition: all 0.3s ease;
        z-index: 10;
        opacity: 1 !important;
    }
}

.title {
    font-size: 2rem;
    color: #ffffff;
    margin-left: 8px;
}
.item {
    width: 100%;
    padding-top: 150%;
    background-repeat:no-repeat ;
    background-size:cover ;
    background-position: center;
    flex-shrink: 0;
    border-radius: 6px;
   
}

.name_film {
    font-size: 1.4rem;
    color: white;
    line-height: 1.9rem;
    height: 3.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;

    margin-top: 12px;
    opacity: 0.8;

}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .link {
        width: 25%;
    }
    .wrapper {
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
    .link {
        width: 33.333%;
    }
    .wrapper {
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .link {
        width: 33.3333%;
        height: 200px;
    }
    .wrapper {
        width: 100%;
        margin-left: 0;
    }
    .name_film {
        font-size: 1.3rem;
    }
}
